.container {
    height: 140px;
    padding: 16px;
    background: #1F2937;
    border: 4px solid indigo;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .nav{
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    nav li {
        float: left;
    }
    
    nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    
    nav li a:hover {
        background-color: #ddd;
        color: black;
    }

  }
  img{
   justify-content: flex-start;
  }